name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: halo-sigs/reusable-workflows/plugin-setup-env@v3
        with:
          node-version: 22
          pnpm-version: 10
          java-version: 21
      - name: Install dependencies
        run: pnpm install
      - name: Create a plugin
        run: node index.js build/my-plugin --name=my-plugin --domain=run.halo.plugin --author=halo --includeUI --uiTool=rsbuild
      - name: Build the plugin
        run: cd build/my-plugin && ./gradlew build
